@model ReversiApi.Models.Game
@{
    Layout = "_Layout";
    var games = (List<ReversiApi.Models.Game>) ViewData["games"];
}
@{
    ViewData["Title"] = "Dashboard";
}
<div class="row">
    <div class="col-md-auto">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Mijn games
            </div>
            <div class="list-group">
                @if (Model != null)
                {
                <a href="/game/enter/@Model.GameToken" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@Model.Name</h5>
                    </div>
                    <p class="mb-1">@Model.Description</p>
                    <a href="/game/remove/@Model.GameToken">Verwijder</a>
                </a>
                }
            </div>
        </div>
    </div>
    <div class="col-md-auto">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Open games
            </div>
            <div class="list-group">
                @foreach (var game in @games)
                {
                    <a href="/game/join/@game.GameToken" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@game.Name</h5>
                            <small>10 minuten geleden</small>
                        </div>
                        <p class="mb-1">@game.Description</p>

                    </a>
                }
            </div>
        </div>
    </div>
</div>
