@page
@model ReversiApi.Views._LayoutModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @if (Model.Session == null) {
        <li>Mand</li>
    } else { 
        <li>Test</li>
    }

</body>
</html>