@{ 
    Layout = "../_Layout.cshtml";
}
@{
    ViewData["Title"] = "Login";
}
<form action="" method="post">
    <div>
        <label>Gebruikersnaam</label>
        <input type="text" name="username" value="" />
    </div>
    <div>
        <label>Wachtwoord</label>
        <input type="password" name="password" value="" />
    </div>
    <input type="submit" name="submit" value="login" />
</form>