@{ 
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Login";
}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">Inloggen</div>
            <div class="card-body">
                <form action="/login" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Gebruikersnaam</label>
                        <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Gebruikersnaam" name="UserName">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="Password" id="password" placeholder="Password">
                    </div>
                    <input type="submit" class="btn btn-primary" value="inloggen">
                    <a href="/register" class="btn btn-primary">Registreren</a>
                </form>
            </div>
        </div>

    </div>
</div>
