
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form action="/register" method="post">
    <div>
        <label>Gebruikersnaam</label>
        <input type="text" name="username" value="" />
    </div>
    <div>
        <label>Email</label>
        <input type="email" name="email" value="" />
    </div>
    <div>
        <label>Wachtwoord</label>
        <input type="password" name="password" value="" />
    </div>
    <input type="submit" name="name" value="" />

</form>