@{
    Layout = "_Layout";
    ViewData["Title"] = "Register";
}
@if(ViewData["error"] != null)
{
    @ViewData["error"]
}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">Registreren</div>
            <div class="card-body">
                <form action="/register" method="post">
                    <div class="form-group">
                        <label for="Gebruikersnaam">Gebruikersnaam</label>
                        <input type="text" class="form-control" id="Gebruikersnaam" aria-describedby="usernameHelp" placeholder="Gebruikersnaam" name="UserName">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" name="Email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="Password" id="password" placeholder="Password">
                    </div>
                    <input type="submit" class="btn btn-primary" value="registreer">
                </form>
            </div>
        </div>
    </div>

</div>

